.main-form {
    width: 450px;
    margin: auto;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

label {
    font: normal 15px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.border-form {
    width: 435px;
    margin: auto;
    border-right: 2px solid #2e6da4;
    border-bottom: 2px solid #2e6da4;
}

.container{
    margin-top:30px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}